---
title: Медицина как бизнес
bodyClass: index
---
extends layouts/_layout
block content

  include home/intro

  include home/mountain

  include home/map

  include home/video

  include home/lessons

  include home/format

  include home/garant

  include home/author
