---
title: Давайте встретимся
---
extends layouts/_layout-modal
block content
  .content
    .container
      .row
        .col-xs-12
          h2 Заполните данные в форме, чтобы перейти к оплате <br>“Живая встреча + скайп занятия + онлайн курс”

          script#6aa4a2b5aca6cb734ad37688f81fbd0b8745aad4(src='https://clinickgroup.getcourse.ru/pl/lite/widget/script?id=22366')


