---
title: Заказать онлайн курс
---
extends layouts/_layout-modal
block content
  .content
    .container
      .row
        .col-xs-12
          script#ca8f64c22e3943966143315541c29caf3923fe82(src='https://clinickgroup.getcourse.ru/pl/lite/widget/script?id=22363')
