---
title: Реквизиты компании
---
extends layouts/_layout-modal
block content
  .content
    .container
      .row
        .col-xs-12
          p Реквизиты компании:
          p Индивидуальный предприниматель АХМЕДЖАНОВ АРТУР САВИЛЬЕВИЧ
          p Юридический адрес  Российская Федерация, 183036, МУРМАНСКАЯ ОБЛ, Г МУРМАНСК, УЛ СТАРОСТИНА, дом 38, кв. 13
          p ИНН 519052207041
          p ОГРН 314519028000060
          p Расчетный счет 40802810800000413557
          p Банк АО «Тинькофф Банк»
          p Юридический̆ адрес Банка Москва, 123060, 1-й Волоколамский проезд, д. 10, стр. 1
          p Корр. счет Банка 30101810145250000974
          p ИНН Банка 7710140679
          p БИК Банка 044525974
          p Контактные данные:
          p тел. 8-906-291-48-53
          p эл.почта clinicgroupinfo@gmail.com
