---
title: Скайп-занятия
---
extends layouts/_layout-modal
block content
  .content
    .container
      .row
        .col-xs-12
          h2 Заполните данные в форме, чтобы перейти к оплате <br>“Скайп-занятия + Онлайн курс”
          script#edb77427e88e1a1dd3ec9168a42d61ea64f9a9d1(src='https://clinickgroup.getcourse.ru/pl/lite/widget/script?id=22365')

