---
title: Служба поддержки
bodyClass: support-page
---
extends layouts/_layout-modal
block content
  .content
    .container
      .row
        .col-xs-12.center-xs
          h2 ЕСТЬ ВОПРОСЫ? НУЖНА ПОМОЩЬ? <br>ОБРАЩАЙТЕСЬ!
          h3 ЗАДАЙТЕ ВОПРОС
          .time
            p Время работы Службы поддержки: <br>в будние дни с 9 до 18 часов<br>по московскому времени


