---
title: Служба поддержки
bodyClass: support-page
---
extends layouts/_layout-modal
block content
  .content
    .container
      .row
        .col-xs-12.center-xs
          h2 ЕСТЬ ВОПРОСЫ? НУЖНА ПОМОЩЬ? <br>ОБРАЩАЙТЕСЬ!
          h3 ЗАДАЙТЕ ВОПРОС
          script#b8814ec3694bdbc74731a70e7fdde781b0772590(src='http://clinickgroup.getcourse.ru/pl/lite/widget/script?id=22422')
          .time
            p Время работы Службы поддержки: <br>в будние дни с 9 до 18 часов<br>по московскому времени


