footer.footer
  .container
    .row
      .col-xs-12
        hr
        .footer__logo
          img(src="img/footer/logo.png", alt="")
          p © ИП АХМЕДЖАНОВ АРТУР САВИЛЬЕВИЧ, 2016
            span clinicgroupinfo@gmail.com
        ul
          li
            a(href="#") Договор оферты
          li
            a(href="#") Безопасность
          li
            a(href="#") Политика конфиденциальности
          li
            a(href="#") Реквизиты компании
