footer.footer(class=footerClass)
  .container
    .row
      .col-xs-12
        hr
        .footer__logo
          img(src="img/footer/logo.png", alt="")
          p © ИП АХМЕДЖАНОВ АРТУР САВИЛЬЕВИЧ, 2014
            span info@clinicgroup.pro
        .footer__logos
          img(src="img/footer/tinkoff.png", alt="")
          img(src="img/footer/visa.png", alt="")
          img(src="img/footer/maestro.png", alt="")
          img(src="img/footer/master.png", alt="")
          img(src="img/footer/yd.png", alt="")
        ul
          li
            a(href="dogovor.html") Договор оферты
          li
            a(href="security.html") Безопасность
          li
            a(href="politika.html") Политика конфиденциальности
          li
            a(href="requisites.html") Реквизиты компании

.pop-up.pop-up-video
  .pop-up__block
    .pop-up-close
    iframe(width='560', height='315', src='', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')

.pop-up.pop-up-login
  .pop-up__block
    h2 Войти в личный кабинет
    .pop-up-close
    script#d56be22989a49e8e0709f7833bcea9370cb09941(src='https://clinickgroup.getcourse.ru/pl/lite/widget/script?id=22362')