// Facebook Pixel Code
script.
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window, document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '216108705621221');
	fbq('track', 'PageView');
noscript
	img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=216108705621221&ev=PageView&noscript=1')
// End Facebook Pixel Code

// VK Pixel Code
script(type="text/javascript>(window.Image ? (new Image()) : document.createElement('img')).src = 'https://vk.com/rtrg?p=VK-RTRG-217411-9D7aA';").
// End VK Pixel Code

// Yandex.Metrika counter
script(type='text/javascript').
	(function (d, w, c) {
	(w[c] = w[c] || []).push(function() {
	try {
	w.yaCounter47801407 = new Ya.Metrika({
	id:47801407,
	clickmap:true,
	trackLinks:true,
	accurateTrackBounce:true,
	webvisor:true
	});
	} catch(e) { }
	});
	var n = d.getElementsByTagName("script")[0],
	s = d.createElement("script"),
	f = function () { n.parentNode.insertBefore(s, n); };
	s.type = "text/javascript";
	s.async = true;
	s.src = "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/watch.js";
	if (w.opera == "[object Opera]") {
	d.addEventListener("DOMContentLoaded", f, false);
	} else { f(); }
	})(document, window, "yandex_metrika_callbacks");
noscript
	div
		img(src='https://mc.yandex.ru/watch/47801407', style='position:absolute; left:-9999px;', alt='')
// /Yandex.Metrika counter
script(type='text/javascript').
	(window.Image ? (new Image()) : document.createElement('img')).src = 'https://vk.com/rtrg?p=VK-RTRG-217481-biiuL';
