section.author
  .container
    .row
      .col-xs-12
        .author__block
          h2 Я искренне убеждён:
          p учиться нужно не у тех, кто учит,<br>а у тех, 
            span кто реально работает. 
          img(src="img/author/icon.png", alt="")
          p 
            span Мой курс –
            | выжимка из реального опыта,<br> без воды и пересказа теории.
          h3 Я поделюсь инструментами, которые позволили мне:
          ul 
            li – Перевести свою стоматологическую клинику в премиум-сегмент
            li – Настроить мощный поток платежеспособных клиентов
            li – Автоматизировать бизнес и управлять им с телефона в любой точки мира 
          .author__block__user Артур Ахмеджанов
            span автор курса  
        h4 Готовы стать свободным<br>и богатым врачом-предпринимателем?
        a(href="free.html") Получить доступ к урокам бесплатно
