section.format
  .container
    .row
      .col-xs-12
        h2 Форматы участия
        .format__online
          h3 Онлайн курс
          ul
            li Круглосуточный доступ к онлайн платформе
            li 12 видео-уроков в вашем личном кабинете
            li Чек-лист для увеличения прибыли в клинике
            li Закрытый онлайн чат с владельцами клини
          .format__online__overflow
            span Цена сегодня
            .format__online__overflow__price 25 000 руб
            span обычная цена
            .format__online__overflow__price__2 45 000 руб 
            a(href="#") Принять участие
        .format__up
          h3 Каждый<br>месяц цена<br>будет расти<br>на 5 000 руб
          img(src="img/format/chart.png", alt="")
        .format__skype
          h3 Скайп-занятия
          ul
            li 8 индивидуальных скайп уроков
            li Длительность каждого урока 2 часа
          h4 Онлайн курс
            span бонус
          ul.plus
            li Круглосуточный доступ к онлайн платформе
            li 12 видео-уроков в вашем личном кабинете
            li Чек-лист для увеличения прибыли в клинике
            li Закрытый онлайн чат с владельцами клини
          .format__skype__overflow
            span Цена
            .format__skype__overflow__price 145 000 руб 
            a(href="#") Принять участие
        .format__live
          h3 Живая встреча
          ul
            li Приедем к вам в клинику 
              span на 4 дня.
            li Проведем аудит бизнес процессов.
            li Выделим слабые стороны и 
              span точки роста
          .format__live__row
            .format__live__row__block
              h4 Онлайн курс
                span бонус
              ul.plus
                li Круглосуточный доступ к онлайн платформе
                li 12 видео-уроков в вашем личном кабинете
                li Чек-лист для увеличения прибыли в клинике
                li Закрытый онлайн чат с владельцами клиник
            .format__live__row__block
              h4 Скайп-занятия
                span бонус
              ul.plus
                li 8 индивидуальных скайп уроков
                li Длительность каждого урока 2 часа
          hr
          .format__live__row
            .format__live__row__block
              span Цена
              .format__live__price 545 000 руб 
            .format__live__row__block
              a(href="#") Назначить встречу







          

        



