section.garant
  .container
    .row
      .col-xs-12
        .garant__block
          .garant__block__100 100
            span %
            h2 Гарантия возврата средств
          p Если после прохождения курса вы поймете, что 
            span в вашей клинике все инструменты уже внедрены - вернем деньги.
          p Если после внедрения всех инструментов курса 
            span нет результата - вернем деньги.
        h5 Таким образом, вы ничем не рискуете.
        h4 Главный риск - это бездействие.