section.intro
  .container
    .row.middle-xs
      .col-xs-12
        h1 Научись находить пациентов 
          span на всю жизнь 
            i за 12 занятий
        a(href="#") 
          span Получить доступ<br>к 2-м урокам Бесплатно
          img(src="img/intro/man.png", alt="")
