section.intro
	.container
		.row.middle-xs
			.col-xs-12
				h1 Научитесь находить пациентов 
					span на всю жизнь 
						i за 12 занятий
				a.free(href="free.html") 
					span Получить доступ<br>к 2-м урокам Бесплатно
					img(src="img/intro/man.png", alt="")
	.intro__course
		.row.middle-xs
			.col-sm-4
				h2 Онлайн курс
					span от врача-стоматолога для
			.col-sm-5
				ul
					li Владельцев медицинских клиник
					li Владельцев УЗИ-центров
					li Косметологов
					li Стоматологов
					li Пластических хирургов
			.col-sm-3
				a(href="https://www.youtube.com/embed/tGT4ihUvVBw?rel=0&amp;controls=0").intro__course__block
					img(src="img/course/play.png", alt="")
					span Смотреть
					.intro__course__block__black
