section.lessons
  .lessons__top
    .container
      .row
        .col-xs-12
          p Вас ждёт
          h2 12 видеоуроков
          p В режиме онлайн
  .lessons__row
    .lessons__block(style="background-image: url('../img/lessons/1.png')")
      span Урок №1
      h3 Смыслы
      p Поймете основные идеи и смыслы бизнеса и сформируете мышление предпринимателя.
      a(href="#") Посмотреть часть урока
    .lessons__block(style="background-image: url('../img/lessons/2.png')")
      span Урок №2
      h3 Анализ себя <br>и конкурентов
      p Научитесь анализировать свою позицию  по сравнению с конкурентами.
      a(href="#") Посмотреть часть урока
    .lessons__block(style="background-image: url('../img/lessons/3.png')")
      span Урок №3
      h3 Контекстная <br>реклама
      p Узнаете, как устроена контекстная реклама и поймёте, как использовать её для создания мощного потока клиентов в вашу клинику.
      a(href="#") Посмотреть часть урока
    .lessons__block(style="background-image: url('../img/lessons/4.png')")
      span Урок №4
      h3 SEO-продвижение
      p Познакомитесь с «долгоиграющим» и почти бесплатным способом привлечения клиентов в клинику. Узнаете, что нужно сделать, чтобы ваш сайт был первым в поисковой выдаче.
      a(href="#") Посмотреть часть урока
    .lessons__block(style="background-image: url('../img/lessons/5.png')")
      span Урок №5
      h3 SMM
      p Разберетесь, зачем клинике вести аккаунты во ВКонтакте, Инстаграме и Фейсбуке, и насколько большую роль социальные сети играют в развитии вашего бренда.
      a(href="#") Посмотреть часть урока
    .lessons__block(style="background-image: url('../img/lessons/6.png')")
      span Урок №6
      h3 Продающий сайт
      p Узнаете, каким должен быть сайт клиники для того, чтобы клиент позвонил или оставил заявку. Сформируете техническое задание на разработку нового сайта или доработок действующего.
      a(href="#") Посмотреть часть урока
    .lessons__block(style="background-image: url('../img/lessons/7.png')")
      span Урок №7
      h3 Скрипты для<br>администратора
      p Разработаете речевые модули, скрипты разговора, благодаря которым администратор запишет 9 пациентов из 10.
      a(href="#") Посмотреть часть урока
    .lessons__block(style="background-image: url('../img/lessons/8.png')")
      span Урок №8
      h3 Money Making<br>для врачей
      p Узнаете, какие действия врачей напрямую влияют на продажи, и внедрите их уже в процессе обучения. Увидите, как увеличивается процент продаж, а средний чек – растет.
      a(href="#") Посмотреть часть урока
    .lessons__block(style="background-image: url('../img/lessons/9.png')")
      span Урок №9
      h3 CRM
      p Автоматизируете рутинные бизнес-процессы. Научитесь поддерживать контакт с каждым клиентом, и не забудете ни одну задачу по пациентам.    
      a(href="#") Посмотреть часть урока
    .lessons__block(style="background-image: url('../img/lessons/10.png')")
      span Урок №10
      h3 Аналитика
      p Узнаете, как отслеживать ключевые показатели деятельности и влиять на каждый из них. Найдете слабые стороны и точки роста.
      a(href="#") Посмотреть часть урока
    .lessons__block(style="background-image: url('../img/lessons/11.png')")
      span Урок №11
      h3 Клиенто-<br>ориентированность
      p Зададите высокую планку сервиса, после которой пациенты будут превращаться в постоянных клиентов на всю жизнь.
      a(href="#") Посмотреть часть урока
    .lessons__block(style="background-image: url('../img/lessons/12.png')")
      span Урок №12
      h3 Итоги
      p Узнаете как выбрать лучшее агентство, чтобы внедрить все самые эффективные инстременты
      a(href="#") Посмотреть часть урока