section.map
  .container
    .row
      .col-xs-12
        h2 Пациенты будут всегда,
          span если вы проведете их по заданной цепочке
        .map__block
          p.first Потенциальный<br>клиент - потребность<br>в мед.услуге
          p.second Реклама клиники в<br> интернете<br> (контекст, поиск,<br> соц.сети)
          p.third Продающий <br>сайт
          p.fourth Речевые модули<br>администраторов
          p.fifth Действия врачей<br>приводящие к деньгам
          p.sixth Система учета и<br> ведения пациентов
          p.seventh Аналитика бизнес<br>процессов
          p.eighth Клиенто-<br>ориентированность
          p.ninth База постоянных<br> пациентов

