section.mountain
  .container
    .row
      .col-xs-12
        h2 Клинике нужны пациенты,
          span а вам - этот курс, если вы:
        .mountain__arrow
          p.first 
            span Мечтаете работать на себя,<br>
            | планируете открыть свою клинику
          p.second 
            span Арендуете 
            | кабинет
          p.third 
            span Управляете клиникой 
            | и<br> регулируете бизнес процессы
          p.fourth 
            span Маркетолог, 
            | отвечаете за<br> продвижение медицинской клиники 
          p.fifth 
            span Владеете 
            | собственной клиникой
          p.sixth Не можете 
            span пробить<br> планку 
            | 1 000 000 руб
        

