section.video
  p Узнай все о курсе
  h2 «Медицина как бизнес»
    span за 2 минуты
  a(href="#") 
    img(src="img/video/play.png", alt="")
    | Посмотрите видео
  p Подробная<br>программа курса
  img.video__arrow(src="img/video/arrow.png", alt="")