section.video
  p Узнайте все о курсе
  h2 «Медицина как бизнес»
    span за 2 минуты
  a(href="https://www.youtube.com/embed/tGT4ihUvVBw") 
    img(src="img/video/play.png", alt="")
    | Посмотреть видео
  p Подробная<br>программа курса
  img.video__arrow(src="img/video/arrow.png", alt="")
  .video__black