.header
  padding-top: 50px
  position: absolute
  width: 100%
  z-index: 10
  &__logo
    width: 250px
    img
      width: 100%
    p
      font-family: Circe
      font-size: 12.5px
      letter-spacing: 0.9px
      text-align: left
      color: #ffffff
      margin-top: -10px
  a
    font-size: 18px
    letter-spacing: 0.5px
    text-align: right
    color: $periwinkle
    font-family: 'Circe'
    display: flex
    justify-content: flex-end
  &-modal
    height: 150px
    position: relative
    padding-top: 0
    border-bottom: 1px solid #cccccc
    a
      justify-content: center
      align-items: center
      flex-direction: column
    img
      width: 250px
    
